body {
  margin: 0;
}

img {
  max-width: 100%;
}

input:focus, button:focus {
  outline: none;
}

@font-face {
  font-family: 'Open Sans Light', sans-serif;
  src: url("/fonts/OpenSans-Light.eot");
  src: url("/fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-Light.woff") format("woff"), url("/fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular', sans-serif;
  src: url("/fonts/OpenSans-Regular.eot");
  src: url("/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-Regular.woff") format("woff"), url("/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold', sans-serif;
  src: url("/fonts/OpenSans-SemiBold.eot");
  src: url("/fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-SemiBold.woff") format("woff"), url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold', sans-serif;
  src: url("/fonts/OpenSans-Bold.eot");
  src: url("/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-Bold.woff") format("woff"), url("/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans ExtraBold', sans-serif;
  src: url("/fonts/OpenSans-ExtraBold.eot");
  src: url("/fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-ExtraBold.woff") format("woff"), url("/fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  background: #000000;
  padding: 41px 0 0 0;
  height: 140px;
}

.header-box {
  font-size: 24px;
  font-family: 'Open Sans ExtraBold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.header-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  font-size: 14px;
  font-family: 'Open Sans Bold', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
}

.header-box ul a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid #fcac45;
}

.menu {
  display: none;
  position: fixed;
  top: 5%;
  left: 11%;
  text-transform: uppercase;
  width: 250px;
  height: 275px;
  background: #000000;
  opacity: 0.9;
  z-index: 3;
  text-align: center;
}

.menu_active {
  display: block;
}

.menu ul {
  list-style: none;
  line-height: 45px;
  cursor: pointer;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.menu ul li {
  border-bottom: 1px solid #ffffff;
}

.menu ul li:last-child {
  border-bottom: 0;
}

.menu ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu a {
  text-decoration: none;
}

.menu-link {
  display: none;
  position: fixed;
  top: 3%;
  left: 2%;
  background: #000000;
  opacity: 0.9;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 5;
}

.menu-link span, .menu-link span:before, .menu-link span:after {
  display: block;
  position: absolute;
  width: 20px;
  height: 3px;
  background: #ffffff;
  top: 49%;
  left: 31%;
}

.menu-link span:before {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  content: '';
  margin-top: -6px;
  margin-left: -6px;
}

.menu-link span:after {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  content: '';
  margin-top: 4px;
  margin-left: -6px;
}

.menu-link_active span {
  background-color: transparent;
}

.menu-link_active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 0;
}

.menu-link_active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 0;
}

.main {
  text-align: center;
  padding: 13% 5% 28% 5%;
  background: #000000;
}

.main-title {
  font-size: 44px;
  font-family: 'Open Sans Light', sans-serif;
  text-transform: uppercase;
  padding-bottom: 35px;
}

.main-title-text_1 {
  display: inline;
  color: #999999;
}

.main-title-text_2 {
  display: inline;
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 700;
  color: #fcac45;
}

.main-subtitle {
  font-size: 20px;
}

.main-subtitle-text_2 {
  color: #ffffff;
}

.about {
  padding: 103px 0 102px 0;
  background: #ffffff;
  color: #222222;
}

.about-text {
  margin-left: 177px;
  max-width: 428px;
}

.about-text-title {
  border-bottom: 4px solid #fcac45;
  padding-bottom: 16px;
}

.about-text-title_1 {
  font-size: 34px;
  display: inline;
  text-transform: uppercase;
}

.about-text-title_2 {
  display: inline;
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 700;
}

.about-text-subtitle {
  text-align: justify;
  font-size: 18px;
  color: #6c6c6c;
  line-height: 25px;
  padding: 21px 0 45px 0;
}

.about-text-list .ul {
  color: #5a5a5a;
}

.about-text-list .ul .li {
  font-size: 16px;
  line-height: 25px;
  background: url(/img/about/mark.png) no-repeat 0 50%;
  padding-left: 24px;
}

.about-text-list .ul .li b {
  font-size: 18px;
}

.team {
  text-align: center;
  padding: 100px 0 167px 0;
  background-color: #000000;
}

.team-title {
  font-size: 44px;
  text-transform: uppercase;
}

.team-subtitle {
  padding: 15px 0 100px 0;
}

.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1140px;
  margin: auto;
  padding: 0 20px 0 20px;
}

.team-box-card-img {
  width: 128px;
  height: 127px;
  background: url(/img/team/1.jpg) no-repeat;
  border-radius: 50%;
  background-size: 134%;
  background-position: center center;
  text-align: center;
  margin: auto;
}

.team-box-card-name {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Open Sans Bold', sans-serif;
  padding-top: 22px;
}

.team-box-card-job {
  padding-top: 6px;
  font-size: 14px;
}

.team-box-card-text {
  max-width: 247px;
  padding-top: 35px;
  font-size: 14px;
}

.services {
  background: #ffffff;
  color: #222222;
  padding: 100px 0 101px 0;
}

.services-subtitle {
  padding-bottom: 55px;
}

.services-text {
  font-size: 16px;
  color: #6c6c6c;
  line-height: 24px;
  max-width: 1140px;
  margin: auto;
  padding: 0 20px 102px 20px;
}

.services-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1140px;
  margin: auto;
  padding: 0 30px 0 30px;
}

.services-box {
  padding: 0 10px 0 10px;
}

.services-box:last-child {
  padding-right: 0;
}

.services-box-title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Open Sans Semibold', sans-serif;
  padding: 28px 0 20px 0;
}

.services-box-text {
  font-size: 14px;
  line-height: 21px;
  max-width: 244px;
}

.clients {
  padding-bottom: 212px;
}

.clients-subtitle {
  padding-bottom: 118px;
}

.clients-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  max-width: 1140px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 30px 0 30px;
}

.work {
  padding-bottom: 70px;
}

.work-text {
  padding-bottom: 178px;
}

.work-block img {
  width: 263px;
  height: 267px;
  padding: 0 15px 30px 15px;
}

.test-title {
  font-family: 'Open Sans Semibold', sans-serif;
}

.test-text {
  font-size: 18px;
  text-transform: uppercase;
  max-width: 995px;
  margin: auto;
  padding: 0 20px 49px 20px;
  font-family: "Open Sans Semibold", san-serif;
  color: #e7e7e7;
}

.test-text_1 {
  font-size: 18px;
  color: #b2b2b2;
  font-family: "Open Sans Light", san-serif;
}

.us-text {
  max-width: 894px;
  margin: auto;
  color: #6c6c6c;
  padding-bottom: 95px;
}

.us-subtitle {
  padding-bottom: 59px;
}

.us-block {
  max-width: 790px;
  margin: auto;
  font-size: 14px;
  color: #636363;
}

.us-block_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.us-block_2 {
  padding: 0 20px;
}

.us-block_3 {
  text-align: end;
  padding-right: 24px;
}

.us-block_11 {
  margin-right: 15px;
}

sup {
  color: red;
}

p {
  margin: 0 0 0 0;
  text-align: start;
}

#last {
  width: 360px;
  height: 40px;
  margin-top: 11px;
  margin-bottom: 53px;
  text-align: center;
}

#last2 {
  width: 100%;
  height: 163px;
  margin: 11px 0 32px 0;
  text-align: center;
}

#last3 {
  width: 165px;
  height: 40px;
  background-color: #fcac45;
  color: #ffffff;
  border: 0;
  font-size: 16px;
  font-weight: 600;
}

input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer {
  text-align: center;
  background-color: #222222;
  padding: 30px 0 30px 0;
}

footer a {
  padding-right: 13px;
}

.overlay {
  display: none;
  position: fixed;
  left: 43%;
  bottom: 50%;
  z-index: 3;
  background: #fdfcfc;
  width: 280px;
  height: 160px;
  border: 2px solid #c5bdbd;
  color: #000000;
}

.overlay h2 {
  position: absolute;
  top: 25%;
  left: 10%;
}

.popup-close {
  left: 92%;
  top: 3%;
  font-size: 20px;
  position: absolute;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .header-box ul {
    padding-left: 0;
  }
  .about-text {
    margin-left: 120px;
  }
  .about-text-title {
    text-align: center;
  }
  .clients {
    padding-bottom: 20px;
  }
  .clients-subtitle {
    padding-bottom: 80px;
  }
  .clients-box {
    max-width: 831px;
  }
  .clients-box img {
    padding: 0 15px 78px 15px;
  }
  .work-text {
    padding-bottom: 100px;
  }
}

@media (max-width: 1096px) {
  .team-card {
    max-width: 680px;
  }
  .team-box {
    padding-bottom: 75px;
  }
}

@media (max-width: 992px) {
  .header {
    height: 100px;
    padding-top: 60px;
  }
  .header-box {
    text-align: center;
  }
  .header-box ul {
    display: none;
  }
  .menu-link {
    display: block;
  }
  .about-text {
    margin-left: 30px;
  }
  .team-subtitle {
    padding: 15px 0 70px 0;
  }
  .services-text {
    padding: 0 40px 102px 40px;
  }
  .test-text {
    padding: 0 20px 49px 20px;
    text-align: justify;
  }
}

@media (max-width: 768px) {
  .team {
    padding: 63px 0 20px 0;
  }
  .team-box {
    padding: 0 20px 63px 20px;
  }
  .team-title {
    font-size: 34px;
  }
  .test {
    padding-bottom: 63px;
  }
  .test-subtitle {
    font-size: 14px;
  }
  .services-text {
    text-align: justify;
    padding: 0 20px 63px 20px;
  }
  .about {
    padding: 63px 0 63px 0;
  }
  .about-img {
    padding: 0 30px 0 30px;
  }
  .about-text {
    padding-top: 54px;
    margin-left: 0;
    margin: auto;
  }
  #last {
    width: 300px;
  }
}

@media (max-width: 660px) {
  #last {
    width: 267px;
  }
}

@media (max-width: 588px) {
  .services-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services-box {
    padding: 0 20px 50px 20px;
  }
  #last {
    width: 100%;
  }
  .us-block_1 {
    display: block;
    text-align: center;
  }
  .us-block_3 {
    text-align: center;
    padding-right: 0;
  }
  .us-block_11 {
    margin-right: 0;
  }
  .menu {
    width: 100%;
    left: 0;
    top: 0;
  }
}

body {
  font-family: 'Open Sans Regular', sans-serif;
  color: #ffffff;
  background-color: #ffffff;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=style.css.map */